{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Actualizar cita de paciente {% endblock %}</h1>
    <form method="post">
        <p>
            <label for="codigo">Código</label>
            <input type="text" name="codigo"
                   placeholder="Código de la cita">
            </input>
        </p>
        <p>
            <label for="motivo">Motivo</label>
            <input type="text" name="motivo"
                   placeholder="Motivo de la cita">
            </input>
        </p>

        <p>
            <label for="fecha_cita">Fecha</label>
            <input type="date" name="fecha_cita"
                   placeholder="Fecha de la cita">
            </input>
        </p>
        <p>
            <button type="submit">Update</button>
        </p>
    </form>
{% endblock %}