{% extends 'base.html' %}

{% block content %}
    <div class="section">
        <h1>Acerca de nuestro Hospital</h1>

        <p><strong>Nombre del Hospital:</strong> HospitalXYZ</p>

        <p><strong>Misión:</strong> Brindar atención médica de calidad y compasiva a nuestros pacientes.</p>

        <p><strong>Visión:</strong> Ser líderes en la excelencia médica y en el bienestar de la comunidad.</p>

        <h2>Equipo</h2>

        <p><strong>Directores del Hospital:</strong></p>
        <ul>
            <li>Juan Diego Rendón Cachafeiro</li>
            <li>Javier González de la Barreda Arimany</li>
            <li>Samuel Toledo Hernández</li>
        </ul>
    </div>
{% endblock %}

