{% extends 'base.html' %}

{% block content %}
    <h1>Crear Cita Médica</h1>
    <form method="post" action="{{ url_for('create') }}">
        <label for="paciente_id">DNI del Paciente:</label>
        <input type="text" name="dni_cifrado" required><br>
        <label for="fecha_cita">Fecha de la Cita:</label>
        <input type="date" name="fecha_cita" required><br>
        <label for="motivo">Motivo:</label>
        <textarea name="motivo" required></textarea><br>
        <input type="submit" value="Crear Cita">
    </form>
{% endblock %}
